@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #161C2D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
  background-color: var(--primary-color);
}

@font-face {
  font-family: 'Inter-Regular';
  src: local('Inter-Regular'), url(./fonts/Inter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: local('Inter-SemiBold'), url(./fonts/Inter-SemiBold.woff) format('woff');
}

.wrapper {
  display: flex;
  flex-direction: column;
}

/* contact icons */

.icons {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 3.5rem;
}

.fab,
.far,
.fas {
  color: #0c0c0c;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.fab:hover,
.far:hover,
.fas:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #2a49cf;
}

/* about me */
#about {
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  width: 80%;
  align-self: center;
  justify-self: center;
  margin-bottom: 10vh;
  min-height: 80vh;
  background-color: var(--primary-color);
}

.about__picture {
  width: 225px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.row-wrap {
  display: flex;
  width: 100%;
}

.biography {
  margin-top: 1vh;
}

.about__image {
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.header_paragraph {
  margin-bottom: 0.5rem;
  font-size: 1.33rem;
}

nav {
  display: flex;
  height: 10vh;
  background: var(--primary-color);
  position: fixed;
  width: 100%;
}

#projects {
  display: flex;
  flex: 1;
  min-height: 90vh;
  width: 100%;
  flex-direction: column;
  align-items: center;

  /* background: #2a49cf; */
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding-bottom: 15vh;
}

#projects h2 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-top: 10vh;
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
}

.project__title {
  margin-bottom: 1.5vh;
}

.bold {
  font-weight: 600;
}

.subtext {
  margin-top: 2vh;
}

.projects__layout {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: center;
  padding: 50px;
}

.project__img {
  margin-top: 0.4rem;
  width: 450px;
  height: 350px;
  object-fit: cover;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.project__description {
  margin-left: 2rem;
}

.project__buttons {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
}

.project__description h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.project__description h4 {
  font-family: Inter-Regular, sans-serif;
  font-size: 1.1rem;
}

.sections {
  font-family: Inter-SemiBold, sans-serif;
  text-decoration: underline;
}

.project__button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: var(--primary-color);
  text-decoration: none;
  border: none;
  transition: opacity 0.25s ease-in;
  cursor: pointer;
  font-family: Inter-Regular, sans-serif;
  font-size: 1rem;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.project__button a {
  text-decoration: none;
}

.project__button:hover {
  opacity: 0.7;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 25vw;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-link {
  color: #0c0c0c;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-link:hover {
  border-bottom: 3px #2a49cf solid;
  color: #007bff;
  transition: all 0.14s ease-in-out;
}

.img__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-direction: column;
  background-color: var(--primary-color);
}

.bottom-icons {
  font-size: 1.75rem;
  display: flex;
  width: 40%;
  justify-content: space-around;
  margin-top: 2vh;
}

/* media query */

@media screen and (max-width: 450px) {
  .project__img {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .about__image {
    margin-right: 0;
    margin-bottom: 5vh;
    align-self: center;
    justify-self: center;
  }
  .row-wrap {
    flex-direction: column;
  }
  .title {
    display: flex;
  }
  .title h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #projects h2 {
    text-align: center;
    margin-top: 10vh;
    font-size: 3.75rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
  }
  .projects__layout h1 {
    font-size: 4rem;
  }

  .project__description h3 {
    text-align: center;
  }

  .project__description {
    margin-left: 0;
    margin-top: 2rem;
  }

  .project__description h4 {
    font-size: 1.25rem;
  }

  .projects__layout {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #about {
    margin-bottom: 10vh;
    padding-top: 10vh;
  }

  .line {
    width: 25px;
    height: 3px;
    background: #0c0c0c;
    margin: 5px;
    transition: all 0.5s ease-out;
  }

  .line.open {
    transition: all 0.2s ease-in;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: fixed;
    cursor: pointer;
    right: 3%;
    top: 5%;
    background: var(--primary-color);
    padding: 1px;
    -webkit-transform: translate(-5%, -50%);
    transform: translate(-5%, -50%);
    z-index: 100;
  }

  .nav-links {
    position: fixed;
    background: #0c0c0c;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    pointer-events: none;
    z-index: 99;
  }

  .nav-links.closed {
    visibility: hidden;
  }

  .nav-link {
    font-size: 25px;
    color: white;
    pointer-events: all;
  }
  .nav-link:hover {
    border-bottom: 2px white solid;
  }
}
